<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<title>Errore</title>
</head>
<body style="background-color:lightblue">
    <div class="container">
    <div class="page-header">
		<h1 style="color:red; size:40px; text-align:left;">Nuovo Autore</h1>
	</div>
<h1>Il quadro che hai provato ad inserire, è già registrato nella galleria!</h1>

<form>
		<button formaction = "/quadro" type = "submit" formmethod = "GET">Torna all'inserimento del nuovo quadro</button>
	</form>
<form>
		<button formaction = "/" type = "submit" formmethod = "GET">Torna alle operazioni</button>
</form>
</div>
</body>
</html>