<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<title>Nuovo Autore</title>
</head>
<body style="background-color:lightblue">
    <div class="container">
    <div class="page-header">
		<h1 style="color:red; size:40px; text-align:left;">Nuovo Autore</h1>
	</div>
	<form action="#" th:action="@{/autore}" th:object="${autore}"
		method="post">
		<div>
			<div>
				<span th:text="#{label.nome}"> Nome: </span> <span><input
					type="text" th:field="*{nome}" /></span> <span
					th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<br></br>
			<div>
				<span th:text="#{label.cognome}"> Cognome: </span> <span><input
					type="text" th:field="*{cognome}" /></span> <span
					th:if="${#fields.hasErrors('cognome')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<br></br>
			<div>
				<span th:text="#{label.dataNascita}">Data di nascita: </span> <span><input
					type="text" th:field="*{dataNascita}" /></span> <span
					th:if="${#fields.hasErrors('dataNascita')}"
					th:text="#{label.number}">Error</span>
			</div>
			<br></br>
            <div>
                    <span th:text="#{label.dataMorte}"> Data di morte: </span>
                    <span><input type="text" th:field="*{dataMorte}" /></span>
                    <span th:if="${#fields.hasErrors('dataMorte')}" th:text="#{label.number}">Error</span>
            </div> 
 			<br></br>
			<div>
				<span th:text="#{label.nazionalita}"> Nazionalita': </span> <span><input
					type="text" th:field="*{nazionalita}" /></span> <span
					th:if="${#fields.hasErrors('nazionalita')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<br></br>
			<div>
				<span><button type="submit">Inserisci</button></span>
			</div>
		</div>
	</form>
	<br></br>
	<form>
		<button formaction = "/" type = "submit" formmethod = "GET">Torna alle operazioni</button>
	</form>
	</div>
	<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>